# Vitepress
docs/.vitepress/cache
docs/.vitepress/dist
/public

# Generated
docs/_generated
docs/_generated/tag
docs/public/graph.json

# Node dependencies
node_modules

# Obsidian
docs/.obsidian/*
!docs/.obsidian/
!docs/.obsidian/templates.json
!docs/.obsidian/app.json